:root {
    --standard-font-size: 36px;
    --small-font-size: 24pt;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: #333232;  For testing */
}

/* Slideshow container */
#logoSlideshowDiv {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.mySlides {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#customLogo3, #customLogo4, #customLogo5 {
    height: 50vh;
    width: auto;
    max-width: 80vw;
    object-fit: contain;
    position: relative;
}

#videoContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Win animation */
.webm-animation {
    position: relative;
    width: 50%;
    height: 50%;
    background: transparent;
}

#gameInfoWrapper {
    position: flex;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}

#gameInfo {
    position: flex;
    text-align: center;
    background: #3679dd;
    font-size: calc(var(--small-font-size) * var(--ui-scaling));
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    padding: 5px 10px;
    margin: 0 5px 0 5px;
    border: 2px solid black;
    max-width: max-content;
}

#raceInfo {
    position: flex;
    text-align: center;
    background: #3679dd;
    font-size: calc(var(--small-font-size) * var(--ui-scaling));
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    padding: 5px 10px;
    margin: 0 5px 0 5px;
    border: 2px solid black;
    max-width: max-content;
}


#ballTrackerWorld, #ballTrackerInternational {
    position: fixed;
    padding: 4px;
    top: 15%;
    right: 1%; 
    z-index: 3;
    background-color: rgba(128, 128, 128, 0.7); /* Opaque grey with 70% opacity */
    border: 2px solid black;
    border-radius: 30px;
    min-width: fit-content;
    max-width: fit-content;
}

.ball {
    padding: 4px;
    display: flex;
    align-items: center;
    line-height: 1;
    vertical-align: top;
}

.ball img {
    /* display: block; */
    width: calc(41px * var(--ui-scaling));
}

/* Main container */
#scoreBoardDiv {
    position: fixed;
    display: flex;
    flex-direction: column; /* Stack shotclock-container and scoreBoard vertically */
    align-items: center;
    width: 90%;
    z-index: 2;
    bottom: 1%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Add this new class */
.shotclock-container {
    display: flex;
    flex-direction: column; /* Stack shotClock and shotClockVis vertically */
    align-items: center;
    width: calc(85% * var(--ui-scaling));
    margin-bottom: calc(5px * var(--ui-scaling));; /* Space between shotclock-container and scoreBoard */
}

/* Update shotClock styling */
#shotClock {
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,1);
    font-size: calc(var(--small-font-size) * var(--ui-scaling));
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    padding: 0 10px;
    margin-bottom: calc(5px * var(--ui-scaling));;
    align-items: center;
    width: fit-content;
}

/* Update shotclockvis styling */
#shotClockVis {
    height: 3px;
    background: #fff;
    border-radius: 5px;
}

.startTimer {
    width: 0 !important;
    transition: width 30s linear !important;
    transform-origin: left center;
}

.start60 {
    width: 0 !important;
    transition: width 60s linear !important;
    transform-origin: left center;
}

.shotRed {
    color:white;
}

/* Scoreboard layout */
#scoreBoard {
    position: relative;
    display: flex;
    flex-direction: row; /* Keep the row layout for player sections */
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    gap: 0; /* No gap between flex items */
    z-index: 2;
}

/* Player containers */
.player-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
}

.player-container.left {
    justify-content: flex-end;
    /* margin-right: 5px; */
}

.player-container.right {
    justify-content: flex-start;
    /* margin-left: 5px; */
}

/* Player names */
#player1Name, #player2Name {
    position: relative;
    background: rgba(255,255,255,1);
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    -webkit-text-stroke: 1px black;
    /* font-size: calc(var(--standard-font-size) * var(--ui-scaling)); */
    /* font-size: calc(32px * var(--ui-scaling)); */
    font-size: 32px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    font-weight: bold;
    text-align: center;
    width: calc(550px * var(--ui-scaling));
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid black;
    z-index: 2;
}

#player1Name {
    background-image: linear-gradient(to left, white, steelblue);
    min-height: 40px;
    padding: 5px 15px;
}

#player2Name {
    background-image: linear-gradient(to right, white, steelblue);
    min-height: 40px;
    padding: 5px 15px;
}

.score-logo-container {
    position: relative;
    display: inline-block;

}

.score-ball-container {
    position: relative;
    align-content: center;
    justify-content: center;
    display: inline-block;
    height: 50px;
    background-color: rgba(128, 128, 128, 1);
}

/* Scores */
#player1Score, #player2Score {
    position: relative;
    text-align: center;
    background: #ed4e54;
    font-size: calc(var(--standard-font-size) * var(--ui-scaling));
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black;
    padding: 5px 10px;
    min-width: 50px;
    min-height: 50px;
    border: solid black;
    z-index: 2;
}

#player1Score {
    border-width:2px 2px 2px 0; /* No left border */
    margin: 0 5px 0 0;
    min-height: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

#player2Score {
    border-width:2px 0 2px 2px; /* No right border */
    margin: 0 0 0 5px;
    min-height: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

/* Custom logos */
.customLogo1, .customLogo2 {
    position: absolute;
    top: 0;
    border: 2px solid black;
    box-sizing: border-box; /* Includes border in the height calculation */
    max-width: auto;
    height: 100%;
    aspect-ratio: 1 / 1; /* For a square aspect ratio */
    object-fit: cover;
    z-index: 3;
}

.customLogo1 {
    right: 100%;
}

.customLogo2 {
    left: 100%;
}



.ext-image-container {
    position: relative;
    display: inline-block;
}
/* Extension icons */
#p1ExtIcon, #p2ExtIcon {
    background: green;
    border: solid black;
    color: white;
    font-size: calc(var(--standard-font-size) * var(--ui-scaling));
    top: 50%;
    padding: 5px 10px;
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    z-index: 3;
}

#p1ExtIcon {
    right: 100%;
    border-width:2px 0 2px 2px; /* No right border */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);

}

#p2ExtIcon {
    left: 100%;
    border-width:2px 2px 2px 0; /* No left border */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);

}

/* Player images */
#player1Image, #player2Image {
    position: absolute;
    top: 0;
    background-color: red;
    border: 2px solid black;
    box-sizing: border-box; /* Includes border in the height calculation */
    height: 100%;
    width: 20%;
    z-index: 4;
    /* top: 50%; */
}

#player1Image {
    left: 100%;
}

#player2Image {
    right: 100%;
}

/* Animation classes */
.fadeInElm {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.fadeOutElm {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.logoSlide {
    display:none;
}

.winBlink {
    animation: blinking .10s 4;
}

.extBlink {
    animation: extblinking .15s 3;
}

@keyframes blinking {
    0% { background-color: #ffffff; }
    100% { background-color: lightgreen; }
}

@keyframes extblinking {
    0% { background-color: green; }
    100% { background-color: red; }
}

.noShow {
    visibility: hidden;
    display: none;
}

.faded {
    opacity: 0.2;
}